In [583]:
%run util.ipynb

# Import datasets

In [584]:
train = pd.read_csv("../data/train.csv")
validation = pd.read_csv("../data/validation.csv")
test = pd.read_csv("../data/test_kor.csv")
numeric_predictor = ['사상자수', '사망자수', '중상자수', '경상자수', '부상신고자수']
categorical_predictor = ['주야', '요일', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_2당_대분류']
test_columns = np.array(numeric_predictor + categorical_predictor)

# Evaluation

In [585]:
train = train[test_columns]
validation = validation[test_columns]

## Create simultation datasets

In [586]:
n_samples = 1000
n_rows = 50

simulation_datasets = create_sim_dataset(validation, n_samples, n_rows, n_sets=10)

In [587]:
pred = simulation_datasets[5]['answer']

In [588]:
answer = simulation_datasets[3]['answer']

## Calculate scores

In [589]:
calculate_total_score(pred, pred, sj=1, B=0.5, C=0.5)

1570.0

In [590]:
answer[categorical_predictor].head()

,주야,요일,발생지시도,발생지시군구,사고유형_대분류,사고유형_중분류,법규위반,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_2당_대분류
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN